@model Dictionary<string, string>

<table class="table table-light">
    <thead class="thead-dark">
        <th>File Name</th>
    </thead>
    <tbody>
        @foreach(var x in Model)
        {
            <tr>
                <td><a href="@x.Key" target="_blank">@x.Value</a></td>
            </tr>
        }
    </tbody>
    
</table>