@model Measurements

<h3>Measurements</h3>

<button class="btn" onclick="replaceContents(this.id, @Model.MeasurementId, 'skull')" id="MummySkull">Skull</button>
<button class="btn" onclick="replaceContents(this.id, @Model.MeasurementId, 'body')" id="MummyBody">Body</button>
<button class="btn" onclick="replaceContents(this.id, @Model.MeasurementId, 'general')" id="MummyGeneral">General</button>

<div id="measurePartialView">
</div>

<script>
    //on load select the attributes tab
    function replaceContents(partialViewToInsert, id, type ) {
        $.ajax({
            url: '@Url.Action("MeasurementPartialView", "Home")',
            data: {
                id: partialViewToInsert,
                selector: id,
                type: type
            },
            type: "POST",
            success: function(data) {
                $('#measurePartialView').html(data);
            }
        });

        activateButton(partialViewToInsert);
    }

    function activateButton(id) {
        $('#MummySkull').removeClass('btn-link').css("color", "black")
        $('#MummyBody').removeClass('btn-link').css("color", "black")
        $('#MummyGeneral').removeClass('btn-link').css("color", "black")
        $('#' + id).addClass('btn-link').css("color", "grey");
    }
</script>
