@model IEnumerable<Notes>

@inject IAuthorizationService AuthorizationService

<div class="row">
    <h1>Notes</h1>
    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Burials.Create)).Result.Succeeded)
    {
        <button class="btn btn-secondary">Edit</button>
    }
</div>


@foreach(var x in Model)
{
    <p>@x.Text</p>
}
    