@model Dictionary<string, string>

<h3>Mummy Images</h3>

@foreach(var x in Model)
{
    <img src="@x.Key" width="300" height="300" />
}

@*@foreach(var x in Model)
{
    <a href="@x" target="_blank">Photo</a>
}*@
