@model IEnumerable<string>

<h3>Mummy Files</h3>

<table>
    <thead>
        <th>File Name</th>
    </thead>
    <tbody>
        @foreach(var x in Model)
        {
            <tr>
                <td><a href="@x" target="_blank">Link</a></td>
            </tr>
        }
    </tbody>
    
</table>