@model AddMummyViewModel

    <div class="text-center">
        <div class="mx-5">
            <h1 class="display-4">Add a Burial</h1>
        </div>

        <form asp-controller="Home" asp-action="AddMummy" method="post" class="card-background p-3">
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="DayFound" asp-for="Mummy.DayFound">Day Found: </label>
                    <input id="DayFound" class="form-control" asp-for="Mummy.DayFound" placeholder="01"/>
                </div>
                <div class="form-group col">
                    <label for="MonthFound" asp-for="Mummy.MonthFound">Month Found: </label>
                    <input id="MonthFound" class="form-control" asp-for="Mummy.MonthFound" placeholder="01"/>
                </div>
                <div class="form-group col">
                    <label for="YearFound" asp-for="Mummy.YearFound">Year Found:</label>
                    <input id="YearFound" class="form-control" asp-for="Mummy.YearFound" placeholder="2021"/>
                </div>
                <div class="form-group col">
                    <label for="HeadDirection" asp-for="Mummy.HeadDirection">Head Direction: </label>
                    <select id="HeadDirection" class="form-control" asp-for="Mummy.HeadDirection">
                        <option selected value="E">E</option>
                        <option value="W">W</option>
                    </select>
                </div>
            </div>

            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="LowPairNs" asp-for="Location.LowPairNs">Low Pair North/South: </label>
                    <input id="LowPairNs" class="form-control" asp-for="Location.LowPairNs" placeholder="190" />
                </div>
                <div class="form-group col">
                    <label for="BurialLocationNs" asp-for="Location.BurialLocationNs">N/S</label>
                    <select id="BurialLocationNs" class="custom-select" asp-for="Location.BurialLocationNs">
                        <option selected value="N">N</option>
                        <option value="S">S</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="LowPairEw" asp-for="Location.LowPairEw">Low Pair East/West: </label>
                    <input id="LowPairEw" class="form-control" asp-for="Location.LowPairEw" placeholder="40" />
                </div>
                <div class="form-group col">
                    <label for="BurialLocationEw" asp-for="Location.BurialLocationEw">E/W</label>
                    <select id="BurialLocationEw" class="custom-select" asp-for="Location.BurialLocationEw">
                        <option selected value="E">E</option>
                        <option value="W">W</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="Subplot" asp-for="Location.Subplot">Subplot: </label>
                    <select class="custom-select" id="Subplot" asp-for="Location.Subplot">
                        <option selected>Select</option>
                        <option value="NW">NW</option>
                        <option value="NE">NE</option>
                        <option value="SW">SW</option>
                        <option value="SE">SE</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="BurialNumber" asp-for="Location.BurialNumber">Burial Number: </label>
                    <input id="BurialNumber" class="form-control" asp-for="Location.BurialNumber" placeholder="1"/>
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="BurialDepth" asp-for="Location.BurialDepth">Burial Depth: </label>
                    <input id="BurialDepth" class="form-control" asp-for="Location.BurialDepth" placeholder="1.90" />
                </div>
                <div class="form-group col">
                    <label for="SouthToHead" asp-for="Location.SouthToHead">South to Head: </label>
                    <input id="SouthToHead" class="form-control" asp-for="Location.SouthToHead" placeholder="2.50" />
                </div>
                <div class="form-group col">
                    <label for="SouthToFeet" asp-for="Location.SouthToFeet">South to Feet:</label>
                    <input id="SouthToFeet" class="form-control" asp-for="Location.SouthToFeet" placeholder="1.50" />
                </div>
                <div class="form-group col">
                    <label for="EastToHead" asp-for="Location.EastToHead">East to Head: </label>
                    <input id="EastToHead" class="form-control" asp-for="Location.EastToHead" placeholder="2.50" />
                </div>
                <div class="form-group col">
                    <label for="EastToFeet" asp-for="Location.EastToFeet">East to Feet: </label>
                    <input id="EastToFeet" class="form-control" asp-for="Location.EastToFeet" placeholder="2.30" />
                </div>
                <div class="form-group col">
                    <label for="WestToHead" asp-for="Location.WestToHead">West to Head: </label>
                    <input id="WestToHead" class="form-control" asp-for="Location.WestToHead" placeholder="2.50"/>
                </div>
                <div class="form-group col">
                    <label for="WestToFeet" asp-for="Location.WestToFeet">West to Feet: </label>
                    <input id="WestToFeet" class="form-control" asp-for="Location.WestToFeet" placeholder="2.70" />
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col">
                    <label for="BurialSituation" asp-for="Location.BurialSituation">Burial Situation</label>
                    <textarea id="BurialSituation" class="form-control" asp-for="Location.BurialSituation" placeholder="Notes about Burial Situation"></textarea>
                </div>
            </div>
            <button class="btn btn-secondary" type="submit">Enter Mummy</button>
        </form>
</div>