@model UploadFilesViewModel

<form asp-action="UploadFiles" enctype="multipart/form-data">

    <input asp-for="ImageCaption" />
    <input asp-for="ImageDescription" />
    <input asp-for="files" />

    <input type="submit" />
</form>